<div>
    <input type="text"
           id="language_widget_{{id}}_input"
           class="language_html ck_{{name}}"
           value="{{ ml_json }}" />
    <input type="text" id="id_{{id}}" name="{{name}}" style="display:none" />
</div>

<script>
    $(function(){
        var ml_{{ name }}_data = {{ ml_json|safe }};
        var ml_{{ name }}_language = {{ ml_language|safe }};
        var ml_all_langs = {{ langs|safe }};

        if( '{{raw}}' != 'None' ) {
            var default_value = '{{raw}}';
        }
        else {
            var default_value = '';
        }

        $('#language_widget_{{id}}_input').val(default_value);

        $('#language_widget_{{id}}_input').change(function(){
            if( $('#language_widget_{{id}}_input').val() != "" ) {
                ml_{{ name }}_data['{{ current_language }}'] = $('#language_widget_{{id}}_input').val();
            }
            $('#id_{{id}}').val(JSON.stringify(ml_{{ name }}_data));
        });

        // Init display with a value decided by the Language package
        $('#id_{{id}}').val(JSON.stringify(default_value));
    });
</script>